.primaryButton {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    background: linear-gradient(45deg, #fe3072, #ff5940);
    padding: 12px 30px;
    border-radius: 20px;
    border: none;
}

.primaryButton:hover {
    background: linear-gradient(260deg, #fe3072, #ff5940);
}

.primary-title {
    font-weight: bold;
    font-size: 75px;
    color: white;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(to bottom, 
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%), url("D:/projects/tinde-clone/woofer/src/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.home {
    margin-top: 10vh;
}